In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/Users/natkite/Documents/courseWork/InfoVis/conversation-visualization/widgetDemo/data/Bdb001.csv')

In [5]:
df

,start,end,participant,text
0,0.000,3.956,me018,b'\n '
1,0.056,1.861,me011,"b'\n Yeah, we had a long discussion about..."
2,2.674,6.315,me011,b'\n how much w- how easy we want to make...
3,5.100,7.881,me018,b'\n '
4,6.260,6.864,fe016,b'\n Right.\n '
...,...,...,...,...
1393,3014.981,3016.774,me001,b'\n six two six two six '
1394,3015.158,3015.447,mn017,b'\n '
1395,3016.774,3018.760,me001,"b'\n seven three, zero one. '"
1396,3020.243,3021.371,me001,b'\n '
1397,3020.591,3021.968,fe008,b'\n '

In [7]:
text = df["text"].tolist()

In [10]:
path = "/Users/natkite/Documents/courseWork/InfoVis/conversation-visualization/Data Wrangling/ICSI_original_transcripts/transcripts/mrts/Bdb001.mrt"

In [11]:
from lxml import etree

In [12]:
tree = etree.parse(path)
root = tree.getroot()
transcript = root[1]

In [18]:
transcript[0].text.strip()

''